.top-list {
  display: flex;
  //   justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.top-list-section {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 480px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
.list-style-main:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.top-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--img-background-color);
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}
.list-main {
  @include fonts(14px, 700, 1.14, 0.03em);
  color: var(--primary-text-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 768px) {
  }
}
.p-main {
  @include fonts(14px, 400, 1.71, 0.03em);
  color: var(--secondary-text-color);
}
