.checkbox {
  @include fonts(12px, 0, 1.16, 0.03em);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include fonts(14px, 0, 1.71, 0.01em);
  }
}
.input__checkbox {
  position: absolute;
  -webkit-appearance: none;
  &:focus + .check-box,
  &:hover + .check-box {
    background-image: url(../images/hf-checkbox.svg);
  }
  &:checked + .check-box {
    background-color: var(--accent-color);
    background-image: url(../images/checked.svg);
  }
}
/* checked */
.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 40px;
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 1200px) {
    left: 54px;
  }
}
.modal__span {
  margin-left: 16px;
  @media screen and (min-width: 1200px) {
    margin-left: 8px;
  }
}
.ckeckbox__link {
  color: var(--web-color);
}
